.ant-btn.custom-button {
    color: #FFFFFF;
    background-image: linear-gradient(to right, #2ecc71, #27ae60);
    border-color: #27ae60;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(46, 204, 113, 0.3);
}

.ant-btn.custom-button:hover {
    background-image: linear-gradient(to right, #27ae60, #219653);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(46, 204, 113, 0.4);
}

.event__btn{
    margin-top: 10px;
    margin-right: 60px;
    margin-left: 60px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(46, 204, 113, 0.3);
}

.event__button{
    width: 110px;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(46, 204, 113, 0.3);
}

#event_container{
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 15px 10px 10px 10px;
}

#account{
    background-color: #ececec;  
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
    margin: 18px 20px 24px 5px;
    border: 0 none;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#account_container{
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
}

.ant-pagination-item{
    border-radius: 10px;
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
    border-radius: 10px;
}